<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>
	{{ "<!-- mobile responsive meta -->" | safeHTML }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no; maximum-scale=1.0; user-scalable=no;">
	{{ "<!-- mobile responsive meta -->" | safeHTML }}
	{{ $styles := resources.Get "css/style.css" | minify }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <meta name="theme-color" content="#fed700">
	
    {{ "<!--Favicon-->" | safeHTML }}
    <link rel="shortcut icon" href="{{ "images/favicon.png" | absURL }} " type="image/x-icon">	
    <link rel="icon" type="image/x-icon" sizes="16x16" href="{{ "images/logo.png" | absURL }}">
    <!-- Hotjar Tracking Code for http://www.giraffe.money -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 849555, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '417698285300294');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=417698285300294&ev=PageView&noscript=1" />
    </noscript>
     <!-- End Facebook Pixel Code -->
<!-- Global site tag (gtag.js) - Google Ads: 757527664 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-757527664"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'AW-757527664');</script>
    
</head>
<body>
