{{ $data := index .Site.Data.partners }}
{{ if $data.enable }}
{{ "<!-- Partners-->" | safeHTML }}
<div class="container py-5">
        <div class="row text-center">
			{{ range $data.item }}
            <div class="col-md col-6">
                <img src="{{ . }}" class="img-fluid" alt="" />
            </div>
			{{end}}	
        </div>
    </div>
<div class="container-fluid">
	<div class="row">
		<div class="col py-1" style="background-color: #f40d0d"></div>
		<div class="col py-1" style="background-color: #22b1a6"></div>
		<div class="col py-1" style="background-color: #fed603"></div>
		<div class="col py-1" style="background-color: #0084ff"></div>
		<div class="col py-1" style="background-color: #59d054"></div>
	</div>
</div>
{{end }}